In [3]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.datasets import load_boston
boston = load_boston()
boston

{'data': array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
         4.9800e+00],
        [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
         9.1400e+00],
        [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
         4.0300e+00],
        ...,
        [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         5.6400e+00],
        [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
         6.4800e+00],
        [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         7.8800e+00]]),
 'target': array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
        18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
        15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
        13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
        21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
        35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
        19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
        20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
        23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
        33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
        21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
        20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
        23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
        15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
        17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
        25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
        23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
        32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
        34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
        20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
        26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
        31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
        22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
        42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
        36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
        32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
        20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
        20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
        22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
        21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
        19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
        32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
        18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
        16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
        13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
         7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
        12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
        27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
         8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
         9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
        10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
        15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
        19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
        29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
        20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
        23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9]),
 'feature_names': array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
        'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7'),
 'DESCR': ".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n",
 'filename': '/Users/joelv/anaconda3/lib/python3.7/site-packages/sklearn/datasets/data/boston_house_prices.csv'}

In [8]:
df_X = pd.DataFrame(boston.data,columns=boston.feature_names)
df_Y = pd.DataFrame(boston.target)

In [10]:
df_X.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [12]:
rg = linear_model.LinearRegression()

In [62]:
x_train, x_test, y_train, y_test = train_test_split(df_X, df_Y, test_size=0.2, random_state=20)

In [63]:
df_X.shape

(506, 13)

In [64]:
df_Y.shape

(506, 1)

In [65]:
x_train.shape

(404, 13)

In [66]:
y_train.shape

(404, 1)

In [67]:
x_train.transpose()

,7,268,80,30,450,140,397,360,329,307,...,278,331,404,393,218,412,223,271,474,355
CRIM,0.14455,0.5405,0.04113,1.13081,6.71772,0.2909,7.67202,4.54192,0.06724,0.04932,...,0.07978,0.05023,41.5292,8.64476,0.11069,18.8110,0.6147,0.16211,8.05579,0.10659
ZN,12.50000,20.0000,25.00000,0.00000,0.00000,0.0000,0.00000,0.00000,0.00000,33.00000,...,40.00000,35.00000,0.0000,0.00000,0.00000,0.0000,0.0000,20.00000,0.00000,80.00000
INDUS,7.87000,3.9700,4.86000,8.14000,18.10000,21.8900,18.10000,18.10000,3.24000,2.18000,...,6.41000,6.06000,18.1000,18.10000,13.89000,18.1000,6.2000,6.96000,18.10000,1.91000
CHAS,0.00000,0.0000,0.00000,0.00000,0.00000,0.0000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.0000,0.00000,1.00000,0.0000,0.0000,0.00000,0.00000,0.00000
NOX,0.52400,0.5750,0.42600,0.53800,0.71300,0.6240,0.69300,0.77000,0.46000,0.47200,...,0.44700,0.43790,0.6930,0.69300,0.55000,0.5970,0.5070,0.46400,0.58400,0.41300
RM,6.17200,7.4700,6.72700,5.71300,6.74900,6.1740,5.74700,6.39800,6.33300,6.84900,...,6.48200,5.70600,5.5310,6.19300,5.95100,4.6280,6.6180,6.24000,5.42700,5.93600
AGE,96.10000,52.6000,33.50000,94.10000,92.60000,93.6000,98.90000,88.00000,17.20000,70.30000,...,32.10000,28.40000,85.4000,92.60000,93.80000,100.0000,80.8000,16.30000,95.40000,19.50000
DIS,5.95050,2.8720,5.40070,4.23300,2.32360,1.6119,1.63340,2.51820,5.21460,3.18270,...,4.14030,6.64070,1.6074,1.79120,2.88930,1.5539,3.2721,4.42900,2.42980,10.58570
RAD,5.00000,5.0000,4.00000,4.00000,24.00000,4.0000,24.00000,24.00000,4.00000,7.00000,...,4.00000,1.00000,24.0000,24.00000,5.00000,24.0000,8.0000,3.00000,24.00000,4.00000
TAX,311.00000,264.0000,281.00000,307.00000,666.00000,437.0000,666.00000,666.00000,430.00000,222.00000,...,254.00000,304.00000,666.0000,666.00000,276.00000,666.0000,307.0000,223.00000,666.00000,334.00000
PTRATIO,15.20000,13.0000,19.00000,21.00000,20.20000,21.2000,20.20000,20.20000,16.90000,18.40000,...,17.60000,16.90000,20.2000,20.20000,16.40000,20.2000,17.4000,18.60000,20.20000,22.00000
B,396.90000,390.3000,396.90000,360.17000,0.32000,388.0800,393.10000,374.56000,375.21000,396.90000,...,396.90000,394.02000,329.4600,396.90000,396.90000,28.7900,396.9000,396.90000,352.58000,376.04000
LSTAT,19.15000,3.1600,5.29000,22.60000,17.44000,24.1600,19.92000,7.79000,7.34000,7.53000,...,7.19000,12.43000,27.3800,15.17000,17.92000,34.3700,7.6000,6.59000,18.14000,5.57000

In [68]:
y_train.transpose()

,7,268,80,30,450,140,397,360,329,307,...,278,331,404,393,218,412,223,271,474,355
0,27.1,43.5,28.0,12.7,13.4,14.0,8.5,25.0,22.6,28.2,...,29.1,17.1,8.5,13.8,21.5,17.9,30.1,25.2,13.8,20.6

In [69]:
x_train.shape

(404, 13)

In [70]:
rg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [71]:
rg.coef_

array([[-6.99238421e-02,  4.08478370e-02,  4.69344473e-02,
         2.94877232e+00, -2.12030473e+01,  3.75149147e+00,
         1.86497729e-02, -1.33522845e+00,  2.71771943e-01,
        -1.12289557e-02, -9.01973881e-01,  9.09628104e-03,
        -5.66286361e-01]])

In [72]:
prediction = rg.predict(x_test)

In [73]:
prediction

array([[21.05690762],
       [27.54410192],
       [20.16232248],
       [23.91885465],
       [13.00416782],
       [19.97164958],
       [17.74585525],
       [ 7.14393596],
       [18.91550072],
       [25.14388009],
       [27.58099651],
       [15.86799568],
       [23.66924873],
       [21.50832445],
       [20.12745896],
       [25.14885921],
       [31.19702709],
       [19.51664234],
       [14.51270678],
       [17.36388805],
       [38.06837294],
       [42.54263219],
       [27.22576394],
       [32.41179632],
       [26.52857019],
       [26.82709884],
       [19.98770946],
       [25.15283706],
       [21.28068136],
       [24.34416726],
       [20.27481846],
       [17.23907825],
       [22.82269451],
       [ 9.58700562],
       [30.18955497],
       [20.40165818],
       [42.65039536],
       [22.27926124],
       [19.51132656],
       [31.13475442],
       [ 8.44358819],
       [16.84928291],
       [17.27751358],
       [12.95855964],
       [22.82880927],
       [28.69986199],
       [21.57261236],
       [20.42222417],
       [ 9.6533953 ],
       [13.04264469],
       [34.70007391],
       [34.54219588],
       [11.26101887],
       [37.35085629],
       [19.33320964],
       [22.49853816],
       [20.01774018],
       [20.03345887],
       [19.64956699],
       [23.03327128],
       [27.68294932],
       [20.18597523],
       [19.33039843],
       [23.99956306],
       [17.56891876],
       [18.63379892],
       [27.68490373],
       [25.80278039],
       [18.54275986],
       [17.90677141],
       [34.39118899],
       [17.27377607],
       [25.30005412],
       [23.09087937],
       [20.61718095],
       [24.91194496],
       [23.69861708],
       [27.42948567],
       [29.11712455],
       [18.1094268 ],
       [ 8.46012626],
       [14.18202688],
       [22.44991165],
       [ 7.2400219 ],
       [28.28618545],
       [24.64376561],
       [24.07575079],
       [18.92193656],
       [24.58204151],
       [27.08290582],
       [23.73219222],
       [25.42466595],
       [18.72779167],
       [12.64011192],
       [22.82885927],
       [27.67615018],
       [19.96110501],
       [19.29762541],
       [17.07612385],
       [18.74907458],
       [17.47269178],
       [26.00514107]])

In [83]:
prediction[0]

array([21.05690762])

In [76]:
y_test

        0
498  21.2
94   20.6
150  21.5
221  21.7
423  13.4
13   20.4
209  20.0
398   5.0
31   14.5
235  24.0
181  36.2
495  23.1
326  23.0
29   21.0
336  19.5
56   24.7
284  32.2
478  14.6
129  14.3
17   17.5
226  37.6
204  50.0
90   22.6
197  30.3
216  23.3
311  22.1
14   18.2
321  23.1
319  21.0
254  21.9
..    ...
74   24.1
322  20.4
115  18.3
84   23.9
501  22.4
240  22.0
92   22.9
362  20.8
148  17.8
34   13.5
342  16.5
147  14.6
503  23.9
185  29.6
241  20.1
422  20.8
72   22.8
169  22.3
76   20.0
473  29.8
19   18.2
439  12.8
505  11.9
81   23.9
323  18.5
9    18.9
449  13.0
359  22.6
106  19.5
314  23.8

[102 rows x 1 columns]

In [84]:
# Mean square error

np.mean((prediction-y_test)**2)

0    16.495352
dtype: float64